@if (isAddingTask) {
    <app-new-task [userId]="userId" (close)="onCloseAddTask()"/>
}


<section id="tasks" style="overflow-y: auto; max-height: 800px; scroll-behavior: smooth;">
    <header>
        <h2 class="text-style-1" >{{ userName }}'s Tasks</h2>
        <menu>
            <button  (click)="addTask()">
                <span>Add Task</span>
            </button>
        </menu>
    </header>

    <ul>
        <!-- <li *ngFor="let task of selectedUserTasks | async">
            <app-task [task]="task"></app-task>
          </li> -->
       
          @for (task of selectedUserTasks; track task.id) {
            <!-- @if (task.userId === userId) {
            } -->
                <li>
                    <app-task [task]="task"></app-task>
                </li>
           
    
        }

    </ul>


</section>

