@if (isAddingUser) {
<app-new-user (close)="onCloseAddTask()" />
}

<app-header />

<main>
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-12">
          <ul id="users">

            @for (user of users; track user.id) {
            <li>
              <app-user [user]="user" [selected]="user.id === selectedUserId" (select)="onSelectUser($event)" />
            </li>
            }
          </ul>
        </div>

      </div>

      <div class="row" style="justify-content: center;">
        <div class="col-12" style="padding-top: 4%;">
          <button (click)="addUser()" style="width: 100%;">
            <span style="color: #decdf2;">Add User</span>
          </button>
        </div>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-12">
      @if (selectedUser) {
      <app-tasks [userName]="selectedUser ? selectedUser.userName: 'none'"
        [userId]="selectedUser.id ? selectedUser.id: 0" />
      } @else if(!selectedUser) {
      <p style="color: #c3b3d1;" id="fallback">Select a user to see tasks!</p>
      } @else {

      }
    </div>

  </div>
  <!-- <button (click)="goToPage('test')">Go to Test Page</button> -->
</main>